.main-dashboard .dash-content .contsection1{
    width: 100%;
    height: 100%;
    
  }

  /* .main-dashboard .dash-content .contsection2{
   width: 100%;
   height: 100%;
  } */
  .main-dashboard .dash-content{
    padding: 1rem;
  }

 .main-dashboard .dash-content .contsection1 .myshift{
     width: 97%;
     height: 36vh;
     color: black;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
 }
 .main-dashboard .dash-content .contsection1 .organization{
     width: 97%;
     margin-top: 1.6rem;
     min-height: 25rem;
     color: black;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
 }
 .main-dashboard .dash-content .contsection2 .myleave{
     width: 100%;
     height: 53vh;
     color: black;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
     /* padding: 1rem; */
 }
 .main-dashboard .dash-content .contsection2 .myleave .title{
   width:100%;
   padding: 1.5rem;
 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

 }
 /* .main-dashboard .dash-content .contsection2 .myleave .graphdata{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
 } */
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .data{
    padding: 1rem;
    /* padding-top: 2rem; */
    display: flex;
    row-gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .data .unpaidleave{
    width: 10rem;
   background-color: rgba(255, 0, 0, 0.403);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .data .paidleave{
    width: 10rem;
    background-color: rgba(255, 140, 0, 0.46);
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 5px;
 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .graph {
   width: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: center;
 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .graph .outercircle{
    width: 14rem;
    height: 14rem;
    border: solid 1px rgb(147, 146, 146);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .main-dashboard .dash-content .contsection2 .myleave .graphdata .graph .innercircle{
    width: 10rem;
    height: 10rem;
    border: solid 1px gray;
    border-radius: 100%;
 }
 .main-dashboard .dash-content .contsection2 .holidays{
     width: 100%;
     min-height: 15rem;
     color: black;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
     margin-top: 1.6rem;
 }

 .main-dashboard .dash-content .contsection1 .myshift .myschedule{
   width: 100%;
   padding: 1rem;
 }

 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .profiledata{
   width: 100%;
   display: flex;
   column-gap: 1rem;
   padding: 0.7rem;

 }

 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata img
 {
   width: 2.3rem;
   height: 2.3rem;
   border-radius: 100%;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .profiledata .namedetails h5{
   font-size: 16px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* margin-bottom: 7px; */
   font-weight: 500;
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .namedetails p{
   font-size: 9px;
   color: grey;
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .sociallinks {
   width: 100%;
   padding: 0.6rem;
   display: flex;
   column-gap: 0.5rem;
   padding-left: 4rem;
   display: flex;
   align-items: center;
   
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .sociallinks i{
   font-size: 21px;
   color: rgba(0, 0, 0, 0.522);
   cursor: pointer;
   
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .greyline{
  width: 100%;
  padding-top: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .main-dashboard .dash-content .contsection1 .myshift .myprofiledata .greyline .line{
   width: 100%;
   height: 0.3px;
   background-color:  rgba(128, 128, 128, 0.268);
 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days{
   
   display: flex;
   column-gap: 1.3rem;

 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day p{
   font-size: 11px;
   font-weight: bold;
   cursor: pointer;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day{
   position: relative;
   display: inline-block;
 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .head{
   color: grey;
   font-size: 12px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 10px;
 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day .hoverday{
   display: none;
   position: absolute;
   bottom: 120%;
   left: 50%;
   transform: translate(-50%);
   z-index: 3;
   background-color: rgb(5, 5, 96);
   color: white;
   padding:9px;
   border-radius: 7px;
   padding-left: 14px;
   padding-right: 14px;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day .shortday{
   color: black;
   padding: 6px;
   border-radius: 3px;
   background-color: rgba(176, 193, 208, 0.719);
   font-size:10px;
   font-weight: 600;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day:first-child .shortday{
   background-color: white;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day:last-child .shortday{
   background-color: white;
 }
 

 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .workingdays .days .day:hover .hoverday{
   display: block;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .report p:first-child{
   color: grey;
   font-size: 12px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 10px;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .report p:last-child{
   
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .shiftdetails p:first-child{
   color: grey;
   font-size: 12px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 10px;
 }
 .main-dashboard .dash-content .contsection1 .myshift .thirdrow .shiftdetails p:last-child{
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .main-dashboard .dash-content .contsection2 .holidays .title{
  width:100%;
  padding: 1.5rem;
  padding-bottom: 0.2rem;
}
 .main-dashboard .dash-content .contsection2 .holidays .holidaylist{
  width:100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  
}
.main-dashboard .dash-content .contsection2 .holidays .holidaylist .holiday{
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(240, 239, 239, 0.938);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-wrap: wrap;
  row-gap: 0.5rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-dashboard .dash-content .contsection2 .holidays .holidaylist .holiday .name{
  font-size: 14px;
}
.main-dashboard .dash-content .contsection2 .holidays .holidaylist .holiday .date{
  font-size: 10px;
}
.main-dashboard .dash-content .contsection1 .organization .title{
  width:100%;
  padding: 1.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-dashboard .dash-content .contsection1 .organization .title .usermanual{
  display: flex;
  padding: 0.8rem;
  color: white;
  column-gap: 6px;
  background-color: rgb(4, 4, 108);
  border-radius: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.main-dashboard .dash-content .contsection1 .organization .secondrow{
  padding-top: 0.3rem;
  padding-left: 1.3rem;
}
.main-dashboard .dash-content .contsection1 .organization .secondrow .navigationdays {
 width: 60%;
 padding: 0.4rem;
 background-color: rgba(234, 230, 230, 0.879);
 border-radius: 7px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding-left: 1rem;
 padding-right: 1rem;
}

.main-dashboard .dash-content .contsection1 .organization .secondrow .navigationdays p{
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.273);
  cursor: pointer;
}
.main-dashboard .dash-content .contsection1 .organization .secondrow .navigationdays p:hover{
  color: rgb(11, 11, 99);
}
.main-dashboard .dash-content .contsection1 .organization .secondrow .navigationdays p:first-child{
  color: rgb(11, 11, 99);
}
.main-dashboard .dash-content .contsection1 .organization .today .title,.main-dashboard .dash-content .contsection1 .organization .next7days .title{
  width:100%;
  padding: 1.2rem;
  padding-bottom: 0.2rem;
  font-weight: 600;
}
.main-dashboard .dash-content .contsection1 .organization .today .todayprofiles,.main-dashboard .dash-content .contsection1 .organization .next7days .todayprofiles{
  width: 100%;
  padding:2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.main-dashboard .dash-content .contsection1 .organization .userprofile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.main-dashboard .dash-content .contsection1 .organization  .userprofile img{
  width: 2.3rem;
   height: 2.3rem;
   border-radius: 100%;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.main-dashboard .dash-content .contsection1 .organization  .userprofile .name{
  white-space: nowrap; 
  width: 80px; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-dashboard .dash-content .contsection1 .organization .userprofile .date{
  color: grey;
  font-size: 10px;
}

.main-dashboard .dash-content .contsection1 .organization .userprofile .popname{
  display: none;
   position: absolute;
   bottom: 107%;
   left: 50%;
   transform: translate(-50%);
   z-index: 3;
   background-color: rgb(5, 5, 96);
   color: white;
   padding:9px;
   border-radius: 7px;
   padding-left: 14px;
   padding-right: 14px;
   font-size: 13px;
   text-align: center;
   text-wrap: wrap;
   width: 10rem;
}

.main-dashboard .dash-content .contsection1 .organization .userprofile:hover .popname{
  display: block;
}

@media screen and (max-width: 480px) {

  .main-dashboard .dash-content .contsection2 .myleave .graphdata{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

 }
 .main-dashboard .dash-content .contsection2 .myleave{
  width: 100%;
  height: 63vh;
  
  
}

.main-dashboard .dash-content .contsection1 .myshift .thirdrow {
  display: flex;
  flex-direction: column;
}

.main-dashboard .dash-content .contsection1 .myshift{
  width: 99%;
  height: 47vh;
  
}
.main-dashboard .dash-content .contsection1 .myshift .thirdrow .report{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  
}
}