.main-dashboard .dash-content .contsection1{
    width: 100%;
    height: 100%;
  }

 .main-dashboard .dash-content .contsection1 .myshift{
     width: 84%;
     height: 40%;
     color: red;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
 }
 .main-dashboard .dash-content .contsection1 .organization{
     width: 84%;
     margin-top: 2rem;
     height: 70%;
     color: red;
     box-shadow: rgba(158, 157, 167, 0.15) 0px 48px 100px 0px;
     background-color: white;
     border-radius: 10px;
 }